@font-face {
  font-family: jetbrainsmono;
  src: url(fonts/jetbrains-mono.ttf);
}
@font-face {
  font-family: opensans-nerdfont-light;
  src: url(fonts/opensans-nerdfont-light.ttf);
}
@font-face {
  font-family: redditsans;
  src: url(fonts/reddit-sans.ttf);
  unicode-range: U+2192;
}

body {
  font-family: opensans-nerdfont-light, redditsans;
  font-weight: 300;
}
code {
  font-family: jetbrainsmono;
}
